/*
aboutStyle.css
*/
/* @media screen and (min-width : 500px){
    #containerid {
        width : 50%;
        display: block;
    } 
} */

#containerid{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 989px;
    margin: auto;
}

body,head{
padding: 0px;
margin:0px
}

label{
    font-weight: 500;
}

header,footer{
    font-size: 14px;
    background-color: lightgrey;
    text-align: center;
    padding: 15px;
    border: solid 2px black;
}

#pid
{
text-align: center;
margin: 10px 10px;
background-color: lightyellow;
}

#mindid #selectcopy,#mind3id{
    display: inline-block;
}

#mindid{
    width: 650px;
    margin: 10px 0;
    display: inline-block;
    vertical-align: top;
}
#sectionid{
    width: 300px;
    margin: 10px 0;
    display: inline-block;
}

.buttonformat{
    border: solid 2px black;
    border-radius: 4px ;
    font-weight: bold;
    background-color: lightskyblue;
    cursor: pointer;
}


.bordered {
   border: solid 1px black;
   border-radius: 2px ;
}

#tableid{
    position: absolute;
    bottom: 10px;
    cursor: no-drop;
}
th{
    background-color: lightgray;
}

th ,td{
    border: solid 1px black;
}
#selectid {
    vertical-align: top;
    cursor: progress;
}

#outerbox{
    background-color: lightgray;
    border:2px solid black;
    margin : 10px auto;
    width: 400px;
    border-radius : 20px;
}
#innerbox{
    height: 30px;
    width:0px;
    border-radius:20px;
}
nav{
    text-align: center;
    background-color: lightgreen;
    padding: 10px;
    border: ridge 2px black;
    font-weight: bold;
}

footer{
    padding: 10px;
    border-radius: 15px;
}

